
<%- include('includes/head.ejs')%>

<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/> -->
</head>

<body>

<!-- <%- include('./includes/index/siteheader.ejs') %> -->

<%- include('./includes/navegacion.ejs') %>

<!-- <%- include('./includes/index/anuncio.ejs') %> -->

<!-- <%- include('./includes/index/programa.ejs') %> -->

<%- include('./includes/invitados/invitado-lightbox.ejs', {invitados}) %>

<!-- <%- include('./includes/index/contador.ejs') %> -->

<!-- <%- include('./includes/index/precios.ejs') %> -->

<!-- <%- include('./includes/index/mapa.ejs') %> -->

<!-- <%- include('./includes/index/testimoniales.ejs') %> -->

<!-- <%- include('./includes/index/newsletter.ejs') %> -->

<!-- <%- include('./includes/index/countdown.ejs') %> -->

<%- include('./includes/footer.ejs') %>

<script src="js/tobii.min.js"></script>
<script> const tobii = new Tobii() </script>
<script src="js/index.js"></script>
</body>
</html>