<!-- <section class="invitados contenedor seccion">
  <h2>Invitados</h2>
  <ul class="lista-invitados">
    <li class="invitado">
      <img src="img/invitados/invitado1.jpg" alt="invitado">
      <p>Rafael Bautista</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado2.jpg" alt="invitado">
      <p>Sally Herrera</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado3.jpg" alt="invitado">
      <p>Gregorio Sanchez</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado4.jpg" alt="invitado">
      <p>Alba Solis</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado5.jpg" alt="invitado">
      <p>Juan Hernández</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado6.jpg" alt="invitado">
      <p>Fer Fuentes</p>
    </li>
  </ul>
</section> -->

<section class="invitados section contenedor">
  <h2>Nuestros Invitados</h2>

  <% invitados.forEach(invitado => { %>
    
    <div id="invitado<%= invitado.invitado_id %>" class="invitado-modal">
      <div class="invitado-info">

        <h2><%= invitado.nombre %> <%= invitado.apellido %></h2>
        <div>
          <img src="img/invitados/<%= invitado.url_imagen %>" alt="invitado" >
        </div>

        <p ><%= invitado.descripcion %></p>

      </div>
    </div>

  <% }) %>

  <ul class="lista-invitados">
    <% invitados.forEach(invitado => {%>

      <li class="invitado">
        <a href="#invitado<%= invitado.invitado_id %>"  class="lightbox" data-type="html" data-group="invitados">
          <img src="img/invitados/<%= invitado.url_imagen %>" alt="invitado">
          <p><%= invitado.nombre %> <%= invitado.apellido %></p>
        </a>
      </li>

    <% }) %>
  </ul>

</section>