<section class="programa">
  <div class="contenedor-video">
    <video autoplay loop poster="img/bg-talleres.jpg">
      <source src="video/video.mp4" type="video/mp4">
      <source src="video/video.webm" type="video/webm">
      <source src="video/video.ogg" type="video/ogg">
    </video>
  </div>

  <div class="contenido-programa">
    <div class="contenedor">
      <div class="programa-evento">
        <h2>Programa del Evento</h2>
        <nav class="menu-programa">
          <% catEventos.forEach(evento =>{%>
            <a href="#<%= evento.descripcion_catevento.toLowerCase() %>"><i class="<%= evento.icono_catevento %>"></i> <%= evento.descripcion_catevento %></a>
          <% }) %>
        </nav>

        <% catEventos.forEach(evento=> { %>
          <div id="<%= evento.descripcion_catevento.toLowerCase() %>" class="info-curso"> 
            <% let eventosTemp = eventosDeCategorias.filter(evento1 => evento1.descripcion_catevento === evento.descripcion_catevento ) 
            eventosTemp.forEach(element => { %>
              
              <div class="detalle-evento">
                <h3><%= element.nombre_evento %></h3>
                <p><i class="far fa-clock"></i> <%= element.horaString %></p>
                <p><i class="fa fa-calendar"></i> <%= element.fechaString %></p>
                <p><i class="fa fa-user"></i> <%= element.invitado %></p>
              </div>
              <% } )%>
              <a href="/calendario" class="btn btn-primario">Ver todos</a>
          </div>
        <% } )%>

      </div>
    </div>
  </div>
</section>