<section class="invitados section contenedor">
  <h2>Nuestros Invitados</h2>

  <% invitados.forEach(invitado => { %>
    
    <div id="invitado<%= invitado.id_invitado %>" class="invitado-modal">
      <div class="invitado-info">

        <h2><%= invitado.nombre_invitado %> <%= invitado.apellido_invitado %></h2>
        <div>
          <img src="img/invitados/<%= invitado.urlimagen_invitado %>" alt="invitado" >
        </div>

        <p ><%= invitado.descripcion_invitado %></p>

      </div>
    </div>

  <% }) %>

  <ul class="lista-invitados">
    <% invitados.forEach(invitado => {%>

      <li class="invitado">
        <a href="#invitado<%= invitado.id_invitado %>"  class="lightbox" data-type="html" data-group="invitados">
          <img src="img/invitados/<%= invitado.urlimagen_invitado %>" alt="invitado">
          <p><%= invitado.nombre_invitado %> <%= invitado.apellido_invitado %></p>
        </a>
      </li>

    <% }) %>
  </ul>

</section>